{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="col-md-5 mx-auto">

        <div class="card shadow p-4">

            <h2 class="text-center mb-4">
                Login
            </h2>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">
                    <label>Username</label>

                    <input
                        type="text"
                        name="username"
                        class="form-control">
                </div>

                <div class="mb-3">

                    <label>Password</label>

                    <input
                        type="password"
                        name="password"
                        class="form-control">

                </div>

                <button
                    class="btn btn-sofi w-100">

                    Login

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}