<footer class="bg-dark text-light mt-5 pt-5 pb-3">

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <h3 class="fw-bold text-success">
                    SofiVerse
                </h3>

                <p>
                    Your Universe of Online Shopping.
                </p>

            </div>

            <div class="col-md-3">

                <h5>Quick Links</h5>

                <ul class="list-unstyled">

                    <li><a href="{% url 'home' %}" class="text-light text-decoration-none">Home</a></li>

                    <li><a href="{% url 'shop' %}" class="text-light text-decoration-none">Shop</a></li>

                    <li><a href="{% url 'about' %}" class="text-light text-decoration-none">About</a></li>

                    <li><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></li>

                </ul>

            </div>

            <div class="col-md-3">

                <h5>Customer Care</h5>

                <ul class="list-unstyled">

                    <li><a href="{% url 'faq' %}" class="text-light text-decoration-none">FAQ</a></li>

                    <li><a href="{% url 'privacy' %}" class="text-light text-decoration-none">Privacy Policy</a></li>

                    <li><a href="{% url 'terms' %}" class="text-light text-decoration-none">Terms & Conditions</a></li>

                </ul>

            </div>

            <div class="col-md-2">

                <h5>Contact</h5>

                <p>📧 sofiahafsa00@gmail.com
                </p>

                <p>📞 +254 743 732 058</p>

            </div>

        </div>

        <hr>

        <div class="text-center">

            © 2026 SofiVerse. All Rights Reserved.

        </div>

    </div>

</footer>